# ─── TELEGRAM ─────────────────────────────────────────────────────────────────
BOT_TOKEN=8607178820:AAGIH1DkL2IIQv2pJMVYyOLJzjbDHkgC-EY

# ─── ACROSS PROTOCOL ──────────────────────────────────────────────────────────
ACROSS_INTEGRATOR_ID=0x010c
ACROSS_API_KEY=hzgjnhguR3_Pw1uP2fZ5YlxIfX8e31E_fyMllzXYnE0

# ─── PRIVY ────────────────────────────────────────────────────────────────────
PRIVY_APP_ID= cmo8z0mfz00g20cjuh7wklev1
PRIVY_APP_SECRET=************************************UfTy


PRIVY_AUTH_PRIVATE_KEY=-----BEGIN EC PRIVATE KEY-----

FkIXU/2r6wqabVJdxCzyShKXC3AJDeBGMQ==
-----END EC PRIVATE KEY-----
# The signer ID from Privy Dashboard after registering your key quorum
PRIVY_SIGNER_ID= xi5xnxycn072u5ixty9cwrud
