# ─── TELEGRAM ─────────────────────────────────────────────────────────────────
BOT_TOKEN=8607178820:AAGIH1DkL2IIQv2pJMVYyOLJzjbDHkgC-EY

# ─── ACROSS PROTOCOL ──────────────────────────────────────────────────────────
ACROSS_INTEGRATOR_ID=0x010c
ACROSS_API_KEY=hzgjnhguR3_Pw1uP2fZ5YlxIfX8e31E_fyMllzXYnE0

# ─── PRIVY ────────────────────────────────────────────────────────────────────
PRIVY_APP_ID= cmo8z0mfz00g20cjuh7wklev1
PRIVY_APP_SECRET=************************************UfTy

# Your authorization private key (contents of privy_private.pem)
# Generate with: openssl ecparam -name prime256v1 -genkey -noout -out privy_private.pem
# Then: openssl ec -in privy_private.pem -pubout -out privy_public.pem
# Register privy_public.pem in Privy Dashboard → Authorization keys → New key
PRIVY_AUTH_PRIVATE_KEY=-----BEGIN EC PRIVATE KEY-----
MHcCAQEEIPPtgFhUZuI2tkHHOeWYJue+F+UyuT7NiOq38Dyssr5GoAoGCCqGSM49
AwEHoUQDQgAErXf2eK4YQ42R9Dbmwtql54+jhZl12DpK817Al7F8/i0YAHzVcf8U
FkIXU/2r6wqabVJdxCzyShKXC3AJDeBGMQ==
-----END EC PRIVATE KEY-----
# The signer ID from Privy Dashboard after registering your key quorum
PRIVY_SIGNER_ID= xi5xnxycn072u5ixty9cwrud
