# ─── TELEGRAM ─────────────────────────────────────────────────────────────────
BOT_TOKEN=

# ─── ACROSS PROTOCOL ──────────────────────────────────────────────────────────
ACROSS_INTEGRATOR_ID=
ACROSS_API_KEY=

# ─── PRIVY ────────────────────────────────────────────────────────────────────
PRIVY_APP_ID= 
PRIVY_APP_SECRET=


PRIVY_AUTH_PRIVATE_KEY=-----BEGIN EC PRIVATE KEY-----

FkIXU/2r6wqabVJdxCzyShKXC3AJDeBGMQ==
-----END EC PRIVATE KEY-----
# The signer ID from Privy Dashboard after registering your key quorum
PRIVY_SIGNER_ID= 